<div id="form-demo">        
    <br>
    <div class="widget-container">
        <div>Reference Project:</div>
        <!-- <dx-select-box #project
            displayExpr="Title"
            [(dataSource)]="projects"
            [value]=null></dx-select-box>
        <br>
        <div>Select Discipline:</div>
        <dx-select-box #discipline
            displayExpr="Name"
            [(dataSource)]="disciplines"
            [value]=null></dx-select-box> -->
        <br>
        <br>
        <dx-button
            stylingMode="outlined"
            text="Continue..."
            type="default"
            [width]="120"
            (onClick)="TBEDetails()">
        </dx-button>
    </div>
