<dx-data-grid style="margin: 20px"
        id="gridContainer"
        [dataSource]="dataSource"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true" 
        [showBorders]="true"
        >
        
        <dxo-group-panel
            [visible]="false"
        ></dxo-group-panel>
        <dxo-grouping
            [autoExpandAll]="true"
        ></dxo-grouping>

        <dxi-column dataField="header" [groupIndex]="0"></dxi-column>
        <dxi-column dataField="screening"></dxi-column>
        <dxi-column dataField="criteria"></dxi-column>
        
        <dxi-column caption="Bidders" dataField="bidders">
            <div *ngFor="let a of [a,b]">
                <dxi-column caption="Team"></dxi-column>
            </div>
        </dxi-column>


    </dx-data-grid>