<div id="form-demo">        
    <br>
    <div class="widget-container">
        <div>Select Project:</div>
        <dx-select-box #project
            displayExpr="title"
            [(dataSource)]="projects"
            [value]=null></dx-select-box>
        <br>
        <div>Select Discipline:</div>
        <dx-select-box #discipline
            displayExpr="name"
            [(dataSource)]="disciplines"
            [value]=null>
        </dx-select-box>
        <br>
        <div>Select Package:</div>
        <dx-select-box #package
            displayExpr="name"
            [(dataSource)]="packages"
            [value]=null
            (onValueChanged)="onPackageChanged($event)"></dx-select-box>
        <br>
        <div>Choose Reference Project:</div>
        <dx-select-box #refproject
            displayExpr="title"
            [(dataSource)]="refprojects"
            [value]=null
            visible=false
            (onValueChanged)="onRefProjSelected($event)"></dx-select-box>
        <br>
        <br>
        <dx-button
            stylingMode="outlined"
            text="Continue..."
            type="default"
            [width]="120"
            (onClick)="setBidders()">
        </dx-button>
    </div>
</div>